#
# https://git-scm.com/docs/gitmailmap
#
Park Zhou <ideapark@petalmail.com> <buildpaas@gmail.com>
Park Zhou <ideapark@petalmail.com> <ideapark@139.com>
Park Zhou <ideapark@petalmail.com> <p@ctriple.cn>
Park Zhou <ideapark@petalmail.com> <park.zhou@wiredcraft.com>
