[user]
	email = p@ctriple.cn
	name = Zhou Peng
	signingkey = 91E08345
[core]
	editor = emacs
[merge]
	tool = ediff
[mergetool]
	prompt = false
[push]
	default = simple
[apply]
	whitespace = warn
[alias]
	change = codereview change
	gofmt = codereview gofmt
	mail = codereview mail
	pending = codereview pending
	submit = codereview submit
	sync = codereview sync
