[Unit]
Description=www.ctriple.cn powered by golang
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/ctriple/www.ctriple.cn
ExecStart=/usr/local/go/bin/go run /home/ctriple/www.ctriple.cn/lib/server.go
Restart=on-failure

[Install]
WantedBy=multi-user.target
