# MIN  HOUR  DAY  MONTH  DAYOFWEEK  COMMAND
# ---------------------------------------------------------
  5    0     *      *    *          /projects/Manhattan/bin/nightly
  15   3     *      *    1-5        /usr/local/bin/backup
  0    0     1      *    *          /home/accounting/expense_reports
